In [1]:
# Importing necessary libraries
import pandas as pd  # For data manipulation and analysis
import numpy as np   # For numerical operations and handling arrays
import matplotlib.pyplot as plt  # For creating visualizations

In [2]:
# Importing the necessary CSV files into pandas DataFrames

# Orders dataset containing details of each order placed by customers
orders = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_orders_dataset.csv")

# Products dataset containing details of each product listed in the system
products = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_products_dataset.csv")

# Customers dataset containing information about the customers who placed the orders
customers = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_customers_dataset.csv")

# Sellers dataset containing information about the sellers offering products on the platform
seller = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_sellers_dataset.csv")

# Geolocation dataset containing the geographical location details of sellers and customers
geo_loc = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_geolocation_dataset.csv")

# Order items dataset containing details of items in each order
items = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_order_items_dataset.csv")

# Payments dataset containing payment details for each order
payments = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_order_payments_dataset.csv")

# Reviews dataset containing the feedback and reviews from customers for the orders they received
reviews = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\olist_order_reviews_dataset.csv")

# Product category dataset containing the translation of product categories
product_category = pd.read_csv(r"D:\git_projects\retail_data_analysis\dataset\product_category_name_translation.csv")

In [3]:
# Display the first 3 rows of the 'orders' DataFrame
orders.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [4]:
# Print the column names of the 'orders' DataFrame
print("Columns are:", orders.columns)

# Print the data types of each column in the 'orders' DataFrame
orders.dtypes

# List of date columns that need to be converted to datetime format
date_columns = ['order_purchase_timestamp', 'order_approved_at', 
                'order_delivered_carrier_date', 'order_delivered_customer_date', 
                'order_estimated_delivery_date']

# Loop through each date column and convert the values to datetime format
# Any invalid date format will be coerced to NaT (Not a Time)
for col in date_columns:
    orders[col] = pd.to_datetime(orders[col], errors='coerce')

# Display the summary of the DataFrame, including data types and non-null counts
orders.info()

# Print the number of duplicate records in the 'orders' DataFrame
print("\nNumber of duplicate records:", orders.duplicated().sum())

# Print the percentage of null values in each column of the 'orders' DataFrame
print("\nPercentage of null values in each column:\n", orders.isnull().mean() * 100)

# Drop all rows with null values from the DataFrame
orders.dropna(inplace=True)

# Get the minimum and maximum dates from the specified date columns
orders[date_columns].agg(['min', 'max'])

# Print the unique values in the 'order_status' column
print("\nUnique values in order_status:", orders['order_status'].unique())

# Print the shape (number of rows and columns) of the DataFrame
print("\nShape:", orders.shape, "\n")

# Print the total unique orders
print("Total unique orders:", orders['order_id'].nunique())

# Print the total unique customers
print("\nTotal unique customers:", orders['customer_id'].nunique())

# Print the counts of each unique value in the 'order_status' column
print("\n",orders['order_status'].value_counts())

# Calculate the time difference in seconds between 'order_approved_at' and 'order_purchase_timestamp' in hr

orders['order_confirm_days'] = (
    (orders['order_approved_at'] - orders['order_purchase_timestamp'])  # Subtract to get timedelta
    .dt.total_seconds()  # Convert timedelta to total seconds
    / (60 * 60 * 24)  # Convert seconds to hours
)

#print the unique entries
print("Unique entries:",orders['order_id'].nunique())

Columns are: Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

Number of duplicate records: 0

Percentage of null values in each column:
 order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.160899
order_delivered_carrier_date     1.793023
order_delivered_customer_date    2.981668
order_estimated_delivery_date    0.000000
dtype: float64

Unique values in order_status: ['delivered' 'canceled']

Shape: (96461, 8)

Total unique orders: 96461

Total unique customers: 96461

 order_status
delivered    96455
canceled         6
Name: count, dtype: int64
Unique entries: 96461

In [5]:
# Display the first 3 rows of the 'products' DataFrame
products.head(3)

,product_id,product_category_name,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [6]:
# Print the column names of the 'products' DataFrame
print("Columns are:", products.columns)

# Display the data types of each column in the 'products' DataFrame
products.dtypes

# List of columns that should be converted to integers (product-related metrics)
int_columns = ['product_name_length', 'product_description_length', 'product_photos_qty']

# Loop through each column in 'int_columns', convert to numeric, handle errors, and cast to integer
for col in int_columns:
    # Convert the column to numeric, coerce errors (set invalid parsing to NaN)
    products[col] = pd.to_numeric(products[col], errors='coerce').astype('Int32')

# List of columns that should be converted to float type (product measurements)
int_columns = ['product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

# Loop through each column in 'int_columns', convert to numeric, handle errors, and cast to float
for col in int_columns:
    # Convert the column to numeric, coerce errors (set invalid parsing to NaN)
    products[col] = pd.to_numeric(products[col], errors='coerce').astype('float32')

# Display the summary of the DataFrame, including the data types, non-null counts, etc.
products.info()

# Print the number of duplicate rows in the DataFrame
print("\nNumber of duplicate records:", products.duplicated().sum())

# Print the percentage of null values in each column
print("\nPercentage of null values in each column:\n", products.isnull().mean() * 100)

# Drop rows with any null values from the DataFrame
products.dropna(inplace=True)

# Print the shape of the DataFrame after dropping rows with null values
print("\nshape:", products.shape, "\n")

#print the unique entries
print("Unique entries:",products['product_id'].nunique())

Columns are: Index(['product_id', 'product_category_name', 'product_name_length',
       'product_description_length', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_length         32341 non-null  Int32
 3   product_description_length  32341 non-null  Int32
 4   product_photos_qty          32341 non-null  Int32
 5   product_weight_g            32949 non-null  float32
 6   product_length_cm           32949 non-null  float32
 7   product_height_cm           32949 non-null  float32
 8   product_width_cm            32949 non-null  float32
dtypes: Int32(3), float32(4), object(2)
memory usage: 1.5+ MB

Number of duplicate records: 0

Percentage of null values in each column:
 product_id                    0.000000
product_category_name         1.851234
product_name_length           1.851234
product_description_length    1.851234
product_photos_qty            1.851234
product_weight_g              0.006070
product_length_cm             0.006070
product_height_cm             0.006070
product_width_cm              0.006070
dtype: float64

shape: (32340, 9)

Unique entries: 32340

In [7]:
# Display the first 3 rows of the 'customers' DataFrame
customers.head(3)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

In [8]:
# Print the column names of the 'customers' DataFrame
print("Columns are:", customers.columns)

# Display the data types of each column in the 'customers' DataFrame
customers.dtypes

# List of columns that should be converted to numeric values
cust_columns = ['customer_zip_code_prefix']

# Loop through each column in the 'cust_columns' list
for col in cust_columns:
    # Convert the specified column to numeric, coercing errors to NaN
    # Then convert it to 'Int32' type
    customers[col] = pd.to_numeric(customers[col], errors='coerce').astype('Int32')

# Display information about the DataFrame including column data types, non-null counts, and memory usage
customers.info()

# Print the number of duplicate records in the 'customers' DataFrame
print("\nNumber of duplicate records:", customers.duplicated().sum())

# Print the percentage of null values in each column of the 'customers' DataFrame
print("\nPercentage of null values in each column:\n", customers.isnull().mean() * 100)

# Print the unique values in the 'customer_state' column
print("\nUnique values in customer state:", customers['customer_state'].unique())

# Print the shape (number of rows and columns) of the 'customers' DataFrame
print("\nShape:", customers.shape, "\n")

#print the unique entries
print("Unique entries:",customers['customer_id'].nunique())

Columns are: Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  Int32
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: Int32(1), object(4)
memory usage: 3.5+ MB

Number of duplicate records: 0

Percentage of null values in each column:
 customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

Unique values in customer state: ['SP' 'SC' 'MG' 'PR' 'RJ' 'RS' 'PA' 'GO' 'ES' 'BA' 'MA' 'MS' 'CE' 'DF'
 'RN' 'PE' 'MT' 'AM' 'AP' 'AL' 'RO' 'PB' 'TO' 'PI' 'AC' 'SE' 'RR']

Shape: (99441, 5)

Unique entries: 99441

In [9]:
# Display the first 3 rows of the 'seller' DataFrame
seller.head(3)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ

In [10]:
# Display the column names of the 'seller' DataFrame
print("Columns are:", seller.columns)

# Display the data types of each column in the 'seller' DataFrame
seller.dtypes

# List of columns that need to be converted to numeric types
seller_columns = ['seller_zip_code_prefix']

# Loop through each column in 'seller_columns' to convert the data type
for col in seller_columns:
    # Convert column to numeric, coercing errors into NaN, then cast it to 'Int32' (nullable integer type)
    seller[col] = pd.to_numeric(seller[col], errors='coerce').astype('Int32')

# Display summary information about the 'seller' DataFrame (e.g., number of non-null entries, data types)
seller.info()

# Print the number of duplicate records in the 'seller' DataFrame
print("\nNumber of duplicate records:", seller.duplicated().sum())

# Calculate and print the percentage of missing (null) values in each column of the 'seller' DataFrame
print("\nPercentage of null values in each column:\n", seller.isnull().mean() * 100)

# Display the unique values present in the 'seller_state' column
print("\nUnique values in seller state:", seller['seller_state'].unique())

# Display the shape (number of rows and columns) of the 'seller' DataFrame
print("\nshape:", seller.shape, "\n")

#print the unique entries
print("Unique entries:",seller['seller_id'].nunique())

Columns are: Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   Int32
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: Int32(1), object(3)
memory usage: 87.8+ KB

Number of duplicate records: 0

Percentage of null values in each column:
 seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

Unique values in seller state: ['SP' 'RJ' 'PE' 'PR' 'GO' 'SC' 'BA' 'DF' 'RS' 'MG' 'RN' 'MT' 'CE' 'PB'
 'AC' 'ES' 'RO' 'PI' 'MS' 'SE' 'MA' 'AM' 'PA']

shape: (3095, 4)

Unique entries: 3095

In [11]:
# Display the first 3 rows of the 'geo locations' DataFrame
geo_loc.head(3)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.55,-46.64,sao paulo,SP
1,1046,-23.55,-46.64,sao paulo,SP
2,1041,-23.54,-46.64,sao paulo,SP

In [12]:
# Print the column names of the geo_loc DataFrame
print("Columns are:", geo_loc.columns)

# Display the data types of each column
geo_loc.dtypes

# Define a list of columns that should be converted to numeric (geolocation_zip_code_prefix)
geo_columns1 = ['geolocation_zip_code_prefix']
for col in geo_columns1:
    # Convert the column to numeric, using 'coerce' to handle errors (convert invalid values to NaN)
    # Then, cast the column as Int32 to allow for nullable integers
    geo_loc[col] = pd.to_numeric(geo_loc[col], errors='coerce').astype('Int32')

# Define a list of columns that should be converted to float (geolocation_lat, geolocation_lng)
geo_columns2 = ['geolocation_lat', 'geolocation_lng']
for col in geo_columns2:
    # Convert the column to numeric, using 'coerce' to handle errors (convert invalid values to NaN)
    # Then, cast the column as float32 to save memory
    geo_loc[col] = pd.to_numeric(geo_loc[col], errors='coerce').astype('float32')

# Display the summary information about the DataFrame, including data types, non-null counts, etc.
geo_loc.info()

# Print the number of duplicate records in the geo_loc DataFrame
print("\nNumber of duplicate records:", geo_loc.duplicated().sum())

# Drop duplicate records from the DataFrame in place
geo_loc.drop_duplicates(inplace=True)

# Print the percentage of null values in each column of the DataFrame
print("\nPercentage of null values in each column:\n", geo_loc.isnull().mean() * 100)

# Print the shape of the DataFrame (rows, columns)
print("\nshape:", geo_loc.shape, "\n")

#print the unique entries
print("Unique entries:",geo_loc['geolocation_zip_code_prefix'].nunique())

Columns are: Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015 entries, 0 to 19014
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19015 non-null  Int32
 1   geolocation_lat              19015 non-null  float32
 2   geolocation_lng              19015 non-null  float32
 3   geolocation_city             19015 non-null  object
 4   geolocation_state            19015 non-null  object
dtypes: Int32(1), float32(2), object(2)
memory usage: 538.6+ KB

Number of duplicate records: 0

Percentage of null values in each column:
 geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

shape: (19015, 5)

Unique entries: 19015

In [13]:
# Display the first 3 rows of the 'items' DataFrame
items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,transport_cost
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,19-09-2017 09:45,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,03-05-2017 11:05,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,18-01-2018 14:48,199.0,17.87

In [ ]:
# Print the column names of the DataFrame
print("Columns are:", items.columns)

# Print the data types of each column in the DataFrame
items.dtypes

# Define a list of columns that need to be converted to numeric (with coercion for errors)
items_columns1 = ['order_item_id']
for col in items_columns1:
    # Convert specified columns to numeric and handle errors by setting them to NaN, then cast to Int32
    items[col] = pd.to_numeric(items[col], errors='coerce').astype('Int32')

# Define a list of columns that need to be converted to datetime format
items_columns2 = ['shipping_limit_date']
for col in items_columns2:
    # Convert specified columns to datetime format, handle errors by setting invalid values to NaT (Not a Time)
    items[col] = pd.to_datetime(items[col], errors='coerce')

# Define a list of columns that need to be converted to float
items_columns3 = ['price', 'transport_cost']
for col in items_columns3:
    # Convert specified columns to numeric (float32) and handle errors by setting invalid values to NaN
    items[col] = pd.to_numeric(items[col], errors='coerce').astype('float32')

# Display summary information about the DataFrame, including column data types and non-null counts
items.info()

# Print the number of duplicate records in the DataFrame
print("\nNumber of duplicate records:", items.duplicated().sum())

# Print the percentage of missing (null) values in each column
print("\nPercentage of null values in each column:\n", items.isnull().mean() * 100)

# Compute and display the minimum and maximum values of the datetime columns
items[items_columns2].agg(['min', 'max'])

# Print the shape (number of rows and columns) of the DataFrame
print("\nshape:", items.shape, "\n")

Columns are: Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'transport_cost'],
      dtype='object')

C:\Users\snehu\AppData\Local\Temp\ipykernel_9864\624240412.py:17: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  items[col] = pd.to_datetime(items[col], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  Int32
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float32
 6   transport_cost       112650 non-null  float32
dtypes: Int32(1), datetime64[ns](1), float32(2), object(3)
memory usage: 4.8+ MB

Number of duplicate records: 0

Percentage of null values in each column:
 order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
transport_cost         0.0
dtype: float64

shape: (112650, 7)

In [15]:
# Display the first 3 rows of the 'payments' DataFrame
payments.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [16]:
# Print the column names of the 'payments' DataFrame
print("Columns are:", payments.columns)

# Display the data types of each column in the 'payments' DataFrame
payments.dtypes

# Define a list of columns that need to be converted to integers (with 'Int32' type)
payments_columns1 = ['payment_sequential', 'payment_installments']

# Loop through the list and convert each column to numeric values, handling errors as 'coerce' (i.e., replacing invalid values with NaN),
# then cast the column to the 'Int32' type
for col in payments_columns1:
    payments[col] = pd.to_numeric(payments[col], errors='coerce').astype('Int32')

# Define a list of columns that need to be converted to floating-point numbers (with 'float32' type)
payments_columns2 = ['payment_value']

# Loop through the list and convert each column to numeric values, handling errors as 'coerce',
# then cast the column to the 'float32' type
for col in payments_columns2:
    payments[col] = pd.to_numeric(payments[col], errors='coerce').astype('float32')

# Display information about the 'payments' DataFrame, including non-null counts and data types
payments.info()

# Print the number of duplicate records in the 'payments' DataFrame
print("\nNumber of duplicate records:", payments.duplicated().sum())

# Print the percentage of null values in each column of the 'payments' DataFrame
print("\nPercentage of null values in each column:\n", payments.isnull().mean() * 100)

# Print the unique values found in the 'payment_type' column of the 'payments' DataFrame
print("\nUnique values in payment type:", payments['payment_type'].unique())

# Print the shape (number of rows and columns) of the 'payments' DataFrame
print("\nshape:", payments.shape, "\n")

#print the unique entries
print("Unique entries:",payments['order_id'].nunique())

Columns are: Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  Int32
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  Int32
 4   payment_value         103886 non-null  float32
dtypes: Int32(2), float32(1), object(2)
memory usage: 3.0+ MB

Number of duplicate records: 0

Percentage of null values in each column:
 order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

Unique values in payment type: ['credit_card' 'boleto' 'voucher' 'debit_card' 'not_defined']

shape: (103886, 5)

Unique entries: 99440

In [17]:
# Display the first 3 rows of the 'reviews' DataFrame
reviews.head(3)

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,18-01-2018 00:00,18-01-2018 21:46
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,10-03-2018 00:00,11-03-2018 03:05
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,17-02-2018 00:00,18-02-2018 14:36

In [18]:
# Print the column names of the 'reviews' DataFrame
print("Columns are:", reviews.columns)

# Display the data types of each column in the 'reviews' DataFrame
reviews.dtypes

# List of columns to convert to datetime format
reviews_columns = ['review_creation_date', 'review_answer_timestamp']

# Loop through the selected columns to convert them to datetime format
for col in reviews_columns:
    # Convert the column to datetime, and set errors='coerce' to handle invalid formats by assigning NaT
    reviews[col] = pd.to_datetime(reviews[col], errors='coerce')

# Display concise summary of 'reviews' DataFrame, including data types and non-null counts
reviews.info()

# Print the number of duplicate rows in the 'reviews' DataFrame
print("\nNumber of duplicate records:", reviews.duplicated().sum())

# Calculate and display the percentage of missing (null) values in each column
print("\nPercentage of null values in each column:\n", reviews.isnull().mean() * 100)

# Drop all rows with missing values from the DataFrame
reviews.dropna(inplace=True)

# Show the minimum and maximum values of the specified datetime columns
reviews[reviews_columns].agg(['min', 'max'])

# Print the shape (number of rows and columns) of the DataFrame after cleaning
print("\nshape:", reviews.shape, "\n")

#print the unique entries
print("Unique entries:",reviews['review_id'].nunique())

Columns are: Index(['review_id', 'order_id', 'review_score', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

C:\Users\snehu\AppData\Local\Temp\ipykernel_9864\1070584845.py:13: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  reviews[col] = pd.to_datetime(reviews[col], errors='coerce')
C:\Users\snehu\AppData\Local\Temp\ipykernel_9864\1070584845.py:13: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  reviews[col] = pd.to_datetime(reviews[col], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98410 non-null  object
 1   order_id                 98410 non-null  object
 2   review_score             98410 non-null  int64
 3   review_creation_date     98410 non-null  datetime64[ns]
 4   review_answer_timestamp  98410 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 3.8+ MB

Number of duplicate records: 0

Percentage of null values in each column:
 review_id                  0.0
order_id                   0.0
review_score               0.0
review_creation_date       0.0
review_answer_timestamp    0.0
dtype: float64

shape: (98410, 5)

Unique entries: 98410

In [19]:
# Display the first 3 rows of the 'product category' DataFrame
product_category.head(3)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

In [20]:
# Print the column names of the product_category dataframe
print("Columns are:", product_category.columns)

# Print the data types of each column in the product_category dataframe
product_category.dtypes

# Display summary information about the dataframe, including the number of non-null entries for each column
product_category.info()

# Print the number of duplicate records in the dataframe
print("\nNumber of duplicate records:", product_category.duplicated().sum())

# Calculate and print the percentage of null values in each column of the dataframe
print("\nPercentage of null values in each column:\n", product_category.isnull().mean() * 100)

# Drop rows with missing values from the dataframe and modify the dataframe in-place
product_category.dropna(inplace=True)

# Print the shape (number of rows and columns) of the dataframe after dropping null values
print("\nshape:", product_category.shape, "\n")

#print the unique entries
print("Unique entries:",product_category['product_category_name'].nunique())

Columns are: Index(['product_category_name', 'product_category_name_english'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

Number of duplicate records: 0

Percentage of null values in each column:
 product_category_name            0.0
product_category_name_english    0.0
dtype: float64

shape: (71, 2)

Unique entries: 71

In [21]:
# Merge the 'products' DataFrame with the 'product_category' DataFrame on the 'product_category_name' column using a left join.
df = products.merge(product_category, on='product_category_name', how='left')

# Drop the 'product_category_name' column from the merged DataFrame as it is no longer needed after the join.
df.drop(columns=['product_category_name'], inplace=True)
print(df.shape)

(32340, 9)

In [22]:
# Perform a left join between the 'customers' and 'geo_loc' DataFrames
# Matching 'customer_zip_code_prefix' in 'customers' with 'geolocation_zip_code_prefix' in 'geo_loc'
df1 = pd.merge(customers, geo_loc, 
               left_on='customer_zip_code_prefix', 
               right_on='geolocation_zip_code_prefix', 
               how='left')

# Rename specific columns in the merged DataFrame for better readability and clarity
df1.rename(columns={
    'geolocation_zip_code_prefix': 'customer_zip_code1',  # Temporary column name
    'geolocation_lat': 'customer_lat',                  # Latitude of the customer
    'geolocation_lng': 'customer_lng',                  # Longitude of the customer
    'geolocation_city': 'customer_city1',               # Temporary column for city
    'geolocation_state': 'customer_state1'              # Temporary column for state
}, inplace=True)

# Drop unnecessary or temporary columns after the join
df1.drop(columns=['customer_zip_code1', 'customer_city1', 'customer_state1'], inplace=True)

# Rename 'customer_zip_code_prefix' to a more concise name 'customer_zip_code'
df1.rename(columns={'customer_zip_code_prefix': 'customer_zip_code'}, inplace=True)

print(customers.shape)
print(geo_loc.shape)
print(df1.shape)

(99441, 5)
(19015, 5)
(99441, 7)

In [23]:
# Merge the 'seller' and 'geo_loc' DataFrames on the 'seller_zip_code_prefix' column from 'seller' 
# and the 'geolocation_zip_code_prefix' column from 'geo_loc', using a left join to keep all rows
# from 'seller' and only matching rows from 'geo_loc'.
df2 = pd.merge(seller, geo_loc, 
               left_on='seller_zip_code_prefix', 
               right_on='geolocation_zip_code_prefix', 
               how='left')

# Rename specific columns in 'df2' to give more meaningful names or align with conventions:
# - Rename 'geolocation_zip_code_prefix' to 'seller_zip_code1'
# - Rename 'geolocation_lat' to 'seller_lat'
# - Rename 'geolocation_lng' to 'seller_lng'
# - Rename 'geolocation_city' to 'seller_city1'
# - Rename 'geolocation_state' to 'seller_state1'
df2.rename(columns={
    'geolocation_zip_code_prefix': 'seller_zip_code1', 
    'geolocation_lat': 'seller_lat',
    'geolocation_lng': 'seller_lng',
    'geolocation_city': 'seller_city1',
    'geolocation_state': 'seller_state1'
}, inplace=True)

# Drop unnecessary columns from 'df2' that were renamed but are no longer needed:
# - 'seller_zip_code1', 'seller_city1', and 'seller_state1'
df2.drop(columns=['seller_zip_code1', 'seller_city1', 'seller_state1'], inplace=True)

# Rename the 'seller_zip_code_prefix' column in 'df1' to 'seller_zip_code'
# to standardize naming conventions for better clarity and consistency.
df1.rename(columns={'seller_zip_code_prefix': 'seller_zip_code'}, inplace=True)

In [24]:
# Merge the 'orders' DataFrame with the 'payments' DataFrame
# The merge is performed on the 'order_id' column, which must exist in both DataFrames
# The 'how="left"' parameter ensures a LEFT JOIN:
#     - All rows from the 'orders' DataFrame will be included in the result
#     - Matching rows from the 'payments' DataFrame will be included where possible
#     - If there's no match in 'payments', the corresponding columns will contain NaN
df3 = orders.merge(payments, on='order_id', how='left')

In [25]:
# Perform a left join between the 'items' DataFrame and the 'seller' DataFrame
df4 = items.merge(
    seller,                # The second DataFrame to join with 'items'
    on='seller_id',        # The common column used as the join key
    how='left'             # Specifies a left join to keep all rows from the 'items' DataFrame
)

In [26]:
# Merging two DataFrames: df4 and reviews
# 'on="order_id"': Specifies the common column 'order_id' to join on
# 'how="left"': Performs a left join, meaning all rows from df4 will be retained,
#               and matching rows from the reviews DataFrame will be added.
#               If there is no match in reviews, the result will have NaN values for those columns.
df5 = df4.merge(reviews, on='order_id', how='left')

In [27]:
# Merge two DataFrames: df5 (left DataFrame) and df (right DataFrame)
# Perform the merge based on the common column 'product_id'
# Use a left join, meaning all rows from df5 will be kept, and matching rows from df will be added
df6 = df5.merge(df, on='product_id', how='left')

In [28]:
# Merge the DataFrame df3 with df1 on the 'customer_id' column, using a left join
# 'on' specifies the column name to join on in both DataFrames (df3 and df1)
# 'how='left'' indicates a left join, meaning all rows from df3 will be kept, and matching rows from df1 will be included
df7 = df3.merge(df1, on='customer_id', how='left')

In [29]:
# Merging two DataFrames (df7 and df6) on the 'order_id' column
# using a left join to keep all rows from df7 and only matching rows from df6
df8 = df7.merge(df6,    # df7 is the left DataFrame
                on='order_id',   # Column 'order_id' is used as the key for merging
                how='left')      # 'left' join ensures all rows from df7 are retained, with matching rows from df6

In [30]:
#df8.to_csv(r'D:\git_projects\retail_data_analysis\dataset\data_final.csv')

In [31]:
df8.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_confirm_days,payment_sequential,...,review_creation_date,review_answer_timestamp,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,0.007431,1,...,2017-10-11,2017-10-12 03:43:00,40,268,4,500.0,19.0,8.0,13.0,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,0.007431,3,...,2017-10-11,2017-10-12 03:43:00,40,268,4,500.0,19.0,8.0,13.0,housewares